/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #FFFFFF;
  font-size: 16px;
}

a {
  color: #FFFFFF;
  transition: color 0.2s ease in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 824px;
}

.header {
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("../../assets/header/header-bg.jpg");
  padding-top: 38px;
  padding-bottom: 66px;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 840px;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__middle {
  position: relative;
  height: 330px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #D4C17F;
}

.header__title-icon {
  position: absolute;
  height: 40px;
  bottom: 70px;
}

.nav {
  font-size: 14px;
}
.nav__list {
  display: flex;
  gap: 40px;
}

.header__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
}
.info--tel::before {
  background-image: url("../../assets//header/phone-call.svg");
}
.info--map::before {
  background-image: url("../../assets//header/map.svg");
}

.text-left {
  text-align: right;
}

.text-right {
  -moz-text-align-last: left;
       text-align-last: left;
}

.benefits {
  padding: 120px 0;
}

.benefits__row {
  display: flex;
  gap: 70px;
}

.benefits__item {
  text-align: center;
}
.benefits__item-img {
  margin-bottom: 53px;
}
.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}/*# sourceMappingURL=main.css.map */