/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #FFFFFF;
  font-size: 16px;
}

a {
  color: #FFFFFF;
  transition: color 0.2s ease in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 824px;
}

.none {
  display: none !important;
}

.title-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
}

.header {
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("../../assets/header/header-bg.jpg");
  padding-top: 38px;
  padding-bottom: 66px;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 840px;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__middle {
  position: relative;
  height: 330px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #D4C17F;
}

.header__title-icon {
  position: absolute;
  height: 40px;
  bottom: 70px;
}

.nav {
  font-size: 14px;
}
.nav__list {
  display: flex;
  gap: 40px;
}

.header__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
}
.info--tel::before {
  background-image: url("../../assets//header/phone-call.svg");
}
.info--map::before {
  background-image: url("../../assets//header/map.svg");
}

.text-left {
  text-align: right;
}

.text-right {
  -moz-text-align-last: left;
       text-align-last: left;
}

.benefits {
  padding: 120px 0;
}

.benefits__row {
  display: flex;
  gap: 70px;
}

.benefits__item {
  text-align: center;
}
.benefits__item-img {
  margin-bottom: 53px;
}
.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.appartments__title {
  margin-bottom: 88px;
}

.appartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  display: inline-block;
  background-color: red;
  position: relative;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  z-index: 6;
}
.card::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
  z-index: 7;
}
.card:hover::after {
  opacity: 1;
}
.card:hover {
  color: white;
}

.card__img {
  transition: all 0.3s;
  z-index: 5;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  left: 50px;
  bottom: 44px;
  font-weight: 400;
  font-size: 24px;
  z-index: 8;
}

.cta {
  padding: 180px 0;
  height: 560px;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../../assets/cta-bg/bg.jpg), #c4c4c4;
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.cta__text {
  font-weight: 400;
  line-height: 1.5;
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
  font-size: 14px;
  transition: background-color 0.2s ease-in;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  font-size: 13px;
  color: #E7E7E7;
  text-align: center;
  line-height: 1.23;
}

.form__btn {
  height: 50px;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.68;
  color: #FFFFFF;
  background-color: #D4C17F;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: #cbb566;
}

.video {
  text-align: center;
}

.video__link {
  position: relative;
  display: inline-block;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.6);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
.video__icon:hover {
  transform: translate(-50%, -50%) scale(1.1);
  filter: saturate(1.5);
}

.section-map {
  padding: 180px 0;
}

.ection-map__title {
  margin-bottom: 88px;
}

.map {
  height: 358px;
  background-color: #626262;
}

.contact {
  padding-bottom: 180px;
}

.contact__title {
  margin-bottom: 49px;
}

.contact__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 35px;
       column-gap: 35px;
  align-items: center;
}/*# sourceMappingURL=main.css.map */