.benefits {
	padding: 120px 0;
	position: relative;

	

	&::after {
		content: 'II';
		@include decorNumber();
		left: calc(50% + 555px);
		transform: translate(-50%, 0%);
	}
}

.benefits__row {
	display: flex;
	gap: 70px;
}

.benefits__item {
	text-align: center;

	&-img {
		margin-bottom: 53px;
	}

	&-text {
		font-size: 20px;
		line-height: 1.35;
		font-family: $font-secondary;
		font-weight: 300;
	}
}
