.contact {
   padding-bottom: 180px;
}

.contact__title {
   margin-bottom: 49px;
}

.contact__form {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 35px;
   align-items: center;
}



//////   MEDIA QUERIES /////

@media screen and (max-width: 959px) {

   .contact{
      padding: 70px 0;
   }

   .contact__title{
      margin-bottom: 19px;
   }

   .contact__form{
      grid-template-columns: 1fr;
   }
}