.cta {
   padding: 100px;
	height: 360px;
   scroll-padding-top: -100px;
	background: linear-gradient(
			180deg,
			$background 10.42%,
			rgba(36, 43, 51, 0) 50.52%,
			$background 90.1%
		),
		linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
		url(../../assets/cta-bg/bg.jpg), #c4c4c4;
      background-color: green;
}

.cta__title {
	margin-bottom: 17px;
}

.cta__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.cta__text {
	font-weight: 400;
	line-height: 1.5;
}



.cta__form {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 35px 30px;
}

.form__input {
   height: 50px;
   padding: 12px;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.2);
   color:$secondary-text;
   font-size: 14px;
   transition:  background-color 0.2s ease-in;

   &::placeholder{
      color: $input ;
   }

   &:focus{
      background-color: rgba(255, 255, 255, 0.25);

   }
}

.form__privacy {
   font-size: 13px;
   color:$privacy-text;
   text-align: center;
   line-height: 1.23;
}

.form__btn {
   height: 50px;
   padding: 12px;
   text-align: center;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.68;
   color: $secondary-text;
   background-color: $accent;
   transition:  background-color 0.2s ease-in;


   &:hover{
   background-color:#cbb566 ;

   }
}


////// MEDIA QUERIES //////




@media screen and (max-width: 959px) {
	.cta{
      padding: 60px 0;
      height: 100%;
   }

   .cta__text{
      font-size: 14px;
   }

   .cta__wrapper{
      display: grid;
      grid-template-columns: 1fr;
   }

   .cta__form{
      display: grid;
      grid-template-columns: 1fr;
   }

   .form__privacy{
      grid-row: 4/5;
      width: 60%;
      align-items: center;
      margin:0 auto;
   }
}