.section-map {
	padding-bottom: 100px;
	position: relative;
	padding: 100px 0;;
	
	
	&::before {
		content: 'V';
		@include decorNumber() ;
		top: 180px;
		right: calc(50% + 555px);
		transform: translate(50%, 0%);
		line-height: 1;
		z-index: -1;
	}
}

.section-map__title{
	margin-bottom: 88px;
}


.map {
	display: grid;
	grid-template-columns: 1fr;
	height: 358px;
	background-color: #626262;
	border-radius: 20px
}



//////   MEDIA QUERIES /////

@media screen and (max-width: 959px) {
	.section-map__title{
		margin-bottom:44px;
	
	}

	.section-map{
		padding: 10px 0;
	}
	
}