.section-map {
	padding: 180px 0;
	position: relative;

	&::before {
		content: 'V';

		position: absolute;
		top: 180px;
		right: calc(50% + 555px);
		transform: translate(50%, 0%);
		line-height: 1;


		opacity: 0.02;
		font-size: 400px;
		font-family: $font-accent;
		z-index: -1;
	}
}

.ection-map__title {
	margin-bottom: 88px;
}

.ection-map__map {
}

.map {
	height: 358px;
	background-color: #626262;
}
