// Fonts
   $font-main : 'Raleway', sans-serif;
   $font-accent: 'Playfair Display', serif;
   $font-secondary: 'Roboto', sans-serif;

// Colors
   $background:#242B33;
   $accent:#D4C17F;
   $secondary-text:#FFFFFF;
   $footer-bg:#2D343C;
   $input:#BEBEBE;
   $privacy-text:#E7E7E7;
